html,body{
    background-image: url("door.jpg");
    background-size:100%;
}
.button1{
    margin-left: 692px;
    margin-top: 378px;
    background-color: gray;
    font-size: 24px;
}
.text1{
    font-size: 76px;
    position: absolute;
    left: 460px;
    top: 50px;
    color: grey;
}
.text2{
    font-size: 36px;
    position: absolute;
    left: 500px;
    top: 675px;
    color: grey;
}